{% extends "_layout" %}

{% block content %}
	<div class="container">
		<div class="welcome" style="background-color: var(--bg); color: white; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 2em;">
			<p style="text-align: center; margin: 0;">{{ siteName }}</p>
			<h1 style="text-align: center; margin: 0;">503</h1>
			<a href="/" style="background-color: var(--primary-color); color: white; padding: .65rem 2rem; text-decoration: none; border-radius: 12px; font-size: 1.35rem; margin-top:2rem;">Return Home</a>
		</div>
	</div>
{% endblock %}
