{% extends "_layout" %}

{% block content %}
<div class="container" data-barba="container" data-barba-namespace="home">
        <div class="centerBox">
                <div class="animate">
                        <p>Ready!</p>
                </div>
        </div>        
</div>

{% endblock %}
